
<body>
  <div *ngIf="this.session.isAuthenticated">
    <nav>
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/newspapers']">Suscribe List</a></li>
        <li><a [routerLink]="['/my-newspapers']">My Newspapers</a></li>
        <li><a [routerLink]="['/articles']">Favourite Articles</a></li>

        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </nav>

  </div>


  <div *ngIf="!this.session.isAuthenticated">
    <nav>
      <ul>
        <li><a [routerLink]="['/login']" >Login</a></li>
        <li><a [routerLink]="['/signup']">Signup</a></li>
      </ul>
    </nav>

  </div>
  <br>
  <br>

  <h1>Welcome to myNews!</h1>

  <router-outlet></router-outlet>

</body>
